
.vs/remote keycard/v16/.suo
remote keycard/bin/Debug/0Harmony.dll
remote keycard/bin/Debug/Assembly-CSharp-firstpass.dll
remote keycard/bin/Debug/Assembly-CSharp.dll
remote keycard/bin/Debug/DissonanceVoip.dll
remote keycard/bin/Debug/Mirror.dll
remote keycard/bin/Debug/NorthwoodLib.dll
remote keycard/bin/Debug/Qurre.dll
remote keycard/bin/Debug/remote keycard.dll
remote keycard/bin/Debug/remote keycard.pdb
remote keycard/bin/Debug/System.Buffers.dll
remote keycard/bin/Debug/System.Memory.dll
remote keycard/bin/Debug/System.Numerics.Vectors.dll
remote keycard/bin/Debug/UnityEngine.AudioModule.dll
remote keycard/bin/Debug/UnityEngine.CoreModule.dll
remote keycard/bin/Debug/UnityEngine.dll
remote keycard/bin/Debug/UnityEngine.PhysicsModule.dll
remote keycard/bin/Debug/UnityEngine.UI.dll
remote keycard/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
remote keycard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
remote keycard/obj/Debug/remote keycard.csproj.CopyComplete
remote keycard/obj/Debug/remote keycard.csproj.CoreCompileInputs.cache
remote keycard/obj/Debug/remote keycard.csproj.FileListAbsolute.txt
remote keycard/obj/Debug/remote keycard.csprojAssemblyReference.cache
remote keycard/obj/Debug/remote keycard.dll
remote keycard/obj/Debug/remote keycard.pdb
